/* default */
.mii {
  --miiFavoriteColor: 11;
  --miiGender: 1;

  --miiBodyHeight: 93;
  --miiBodyWidth: 77;

  --miiFaceColor: 6;
  --miiFaceHairColor: 4;
  --miiFaceMakeupType: 11;
  --miiFaceShapeType: 11;
  --miiFaceWrinklesType: 11;

  --miiHairColor: 4;
  --miiHairFlipped: 0;
  --miiHairType: 41;

  --miiEyebrowColor: 4;
  --miiEyebrowPosX: 12;
  --miiEyebrowPosY: 0;
  --miiEyebrowRotation: 10;
  --miiEyebrowSize: 8;
  --miiEyebrowStretch: 6;
  --miiEyebrowType: 6;

  --miiEyeColor: 11;
  --miiEyePosX: 0;
  --miiEyePosY: 13;
  --miiEyeRotation: 3;
  --miiEyeSize: 4;
  --miiEyeStretch: 3;
  --miiEyeType: 2;

  --miiNosePosY: 15;
  --miiNoseSize: 2;
  --miiNoseType: 15;

  --miiGlassesColor: 18;
  --miiGlassesPosY: 0;
  --miiGlassesSize: 0;
  --miiGlassesType: 13;

  --miiMouthColor: 19;
  --miiMouthPosY: 0;
  --miiMouthSize: 8;
  --miiMouthStretch: 6;
  --miiMouthType: 33;

  --miiBeardType: 1;
  --miiMustachePosY: 0;
  --miiMustacheSize: 4;
  --miiMustacheType: 5;

  --miiMoleEnabled: 0;
  --miiMolePosX: 8;
  --miiMolePosY: 21;
  --miiMoleSize: 4;
}

/* generated */
.mii {
  --miiMiiGender: 1;
  --miiFavoriteColor: 8;
  --miiBodyHeight: 98;
  --miiBodyWidth: 72;
  --miiFaceShapeType: 1;
  --miiFaceColor: 0;
  --miiFaceWrinklesType: 0;
  --miiFaceMakeupType: 1;
  --miiHairType: 5;
  --miiHairColor: 6;
  --miiHairFlipped: -1;
  --miiEyeType: 10;
  --miiEyeColor: 9;
  --miiEyeSize: 4;
  --miiEyeStretch: 3;
  --miiEyeRotation: 4;
  --miiEyePosX: 2;
  --miiEyePosY: 13;
  --miiEyebrowType: 13;
  --miiEyebrowColor: 8;
  --miiEyebrowSize: 3;
  --miiEyebrowStretch: 1;
  --miiEyebrowRotation: 4;
  --miiEyebrowPosX: 2;
  --miiEyebrowPosY: 10;
  --miiNoseType: 1;
  --miiNoseSize: 2;
  --miiNosePosY: 10;
  --miiMouthType: 8;
  --miiMouthColor: 19;
  --miiMouthSize: 3;
  --miiMouthStretch: 2;
  --miiMouthPosY: 13;
  --miiMustacheType: 0;
  --miiMustacheSize: 2;
  --miiMustachePosY: 16;
  --miiBeardType: 0;
  --miiFaceHairColor: 8;
  --miiGlassesType: 2;
  --miiGlassesColor: 18;
  --miiGlassesSize: 3;
  --miiGlassesPosY: 0;
  --miiMoleEnabled: -1;
  --miiMoleSize: 0;
  --miiMolePosX: 5;
  --miiMolePosY: 28;
}
